# .env.example
GEMINI_API_KEY=
HLIDAC_STATU_TOKEN={"keys":[{"kty":"RSA","use":"sig","kid":"04bead4ce02c9c62","alg":"RS256","e":"AQAB","n":"rJ9SrtSoVlEUuR8mK4QUDAGh40kCtHaTzDeOCoJThA3lLf1dULkcbRe6yBJ7YL3cn47kmJPrMRDt3mMZ9RsueofqzMyBmTkK4T2wQVduZflBX0FdHc73Q6rNeUexP9AxSQ-PQynfs0BlDLyWLDyHEq5AubuHYumFoEaHwUK1vzb8TKHH3i_QEWjXGLyCVXuRadTKfM-1VbopMVVsFBQLotReauSQjRcDPDmDiS7TDnycnDMxuF8Zf-MX_G-B60brHI7lQB0Bg0Db2iMKFrgyM7iQc1QAaYPFxoj96Q9PzB6R121DlRX9RVJC3uu3i2LH_1Tv4DrpuHqWOzgNwN1nmQ"}]}
